<%- include ("partials/header") -%>
<style>
    body{
        background: #000;
    }
</style>
    <div class="welcome">
        <p class="display-3">Welcome to <span style="color:yellow">YELP</span>CAMP</p>
        <a href="/campgrounds" class="btn-success btn">All Campgrounds</a>
    </div>
<ul class="landing-page_background">
    <li></li>
    <li></li>
    <li></li>
</ul>


<%- include ("partials/footer") -%>